<%  include include/main-header %>
</head>
<body>
	<% include include/header %>
	<!--breadcrumbs start-->
	<div class="breadcrumbs">
		<div class="container">
        	<div class="row">
          		<div class="col-lg-4 col-sm-4">
            		<h1><% if (typeof resultData.Document !== 'undefined' && resultData.Document !== null && resultData.Document != "") { %><%= resultData.Document %><% } %></h1>
          		</div>
          		<div class="col-lg-8 col-sm-8">
            		<ol class="breadcrumb pull-right">
              			<li><a href="/index" title="Home">Home</a></li>              
              			<li class="active">
                			<% if (typeof resultData.Document !== 'undefined' && resultData.Document !== null && resultData.Document != "") { %><%= resultData.Document %><% } %>
              			</li>
            		</ol>
          		</div>
        	</div>
      	</div>
	</div>
    <!--breadcrumbs end-->
    
	<div CLASS="gray-box" STYLE="margin-bottom:0px;">
		<div CLASS="container content">
			<%	if(resultData.Objects && resultData.Objects.length>0){
					var c_count=0;
					resultData.Objects.sort(dynamicSort("order_by"));
					for(var i=0; i<resultData.Objects.length; i++){	
						c_count++;
						if(c_count==1) {	%>
							<div class="row"><div CLASS="col-md-12">
					<%	}
				%>
					<div class="col-md-4">
						<%- resultData.Objects[i].content %>
					</div>
                	<% 	if(c_count==3) {
                			c_count = 0;	%>
							</div></div><br>
					<%	}
					} %>
			<% } else { %>
				<div class="alert alert-danger">Sorry, no case studies found!</div>
			<% } %>					
		</div> <!-- end content -->
	</div>


   	<!--footer start-->
    <% include include/footer %>
    <!--footer end-->
</body>
</html>