<% var pageTileStr= "404"; %>
<%  include include/main-header %>
</head>
<body>
	<% include include/header %>
	<div CLASS="gray-box" STYLE="margin-bottom:0px;"><div CLASS="container content">
      	<div class="row"><div CLASS="col-md-12">
			<div style="float:left;" class="col-md-6">
				<img src="images/404.jpg" width="417" height="279" alt=""/>
			</div>
			<div style="padding-left:20px; padding-top:10px;" class="col-md-6">
				<h1 style="line-height:39px;">Sorry! The page you were looking <br />for was not found.  </h1>
				<ul style="padding-left:18px;">
					<li>If you typed in the address, check your spelling. Could just be a typo.</li>
					<li>Go to <a href="/">main page.</a></li>
					<!--<li>Get to know us a little better - <a href="/about">About us</a>, or visit our full website Site Map here.</li>
					--><li><p class="buttons" id="followLink" style="display:none;"> <a class="btn btn-info" href="http://www.facebook.com/pages/Jobshout/139675936083142" title="Visit us on Facebook">Visit us on Facebook</a>
					<a class="btn btn-info" href="http://twitter.com/#!/jobshoutnews" target="_blank" title="Follow our tweets">Follow our tweets</a> </p></li>
				</ul>
			</div>
		</div></div>
	</div></div>
	<!--footer start-->
    <% include include/footer %>
    <!--footer end-->
<script>
function get_follow_us()	{
	$('#followLink').hide();
	var val= "['jobshout-facebook', 'jobshout-twitter']";
	var jsonRow="/fetch_tokens_content?code="+val;
	$.getJSON(jsonRow,function(html){
		if(html.aaData){
			var contentHtml="";
			$.each(html.aaData, function(i,row){
				if(row.code=="jobshout-facebook"){
					contentHtml+='&nbsp;<a class="btn btn-info" href="'+row.token_content+'" target="_blank">Visit us on Facebook</a>';
				}
				if(row.code=="jobshout-twitter"){
					contentHtml+='&nbsp;<a class="btn btn-info" href="'+row.token_content+'" target="_blank">Follow our tweets</i></a>';
				}
			});
			if(contentHtml!=""){
				$('#followLink').show();
				$("#followLink").html(contentHtml);
			}
		}
	});
}
$(document).ready(function() {
	//fetch follow us content
	get_follow_us();
});
</script>
  </body>
</html>