<% include include/main-header %>
<% 	
var pageNum=1;
if (typeof queryStr.page !== "undefined" && queryStr.page!="" && queryStr.page!="") { 
pageNum=queryStr.page;
} 
var fetchTypeStr='blogs';
if (typeof fetch_type !== "undefined" && fetch_type!="" && fetch_type!="") { 
	fetchTypeStr=fetch_type;
} 
%>
<style>
.blog-item h1 {
	margin-top:0px!important;
}
</style>
</head>
<body>
	<% include include/header %>
	 <!--breadcrumbs start-->
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <h1>
            <% if(fetchTypeStr=="news")	{	%>
            News
           <%  } else { %>
            Blog
           <%  } %>
            </h1>
          </div>
          <div class="col-lg-8 col-sm-8">
            <ol class="breadcrumb pull-right">
              <li>
                <a href="/index" title="Home">
                  Home
                </a>
              </li>
              <li class="active">
            <% if(fetchTypeStr=="news")	{	%>
            News
           <%  } else { %>
            Blog
           <%  } %>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!--breadcrumbs end-->
		<div class="container">
			<div class="row">
				<div class="col-lg-9 ">
					<div id="newsData">
					
					</div>
					<div style="text-align:center;margin-top:20px;" id="img_loading_div">
						Loading...<br /> <img id="imgAjaxLoading" src="images/loading-1.gif"" width="109" height="25" style="border-width: 0px;">
					</div>
				</div>
				<!--BSW 20120216 jquery to populate content on load / while page navigation-->
				<div class="col-lg-3 ">
					<div class="blog-side-item">
						<div class="blog-post print_posts"></div>
					</div>
        		</div>
			</div>
		</div>

   	<!--footer start-->
    <% include include/footer %>
    <!--footer end-->
<script>
var xhrStatus;
var searchkeyword="", typeStr='<%= fetchTypeStr %>', currentPageNum='<%= pageNum %>';
var pageSize=5, totalNum=0;
var start=0, end=pageSize;

$(document).ready(function() {
	$('#img_loading_div').show();
	currentPageNum= parseInt(currentPageNum);
	start=(pageSize * (currentPageNum-1))+1;
	load_data();
	load_posts();
});

function applyPagination(total_count,displayResultsNum){
	currentPageNum= parseInt(currentPageNum);
	var itemsPerPage=pageSize;
	var paginationHtml='<div class="text-center"><ul class="pagination">';
	var tpages = Math.ceil(total_count/itemsPerPage);
	//console.log(tpages);	
	if(tpages<=0){
		tpages=1;
	}
	var adjacents = 2;
	var currentLink= "/"+typeStr;
	if (currentPageNum == 1) {
		paginationHtml+= '<li><a href="javascript:void(0)" >«</a></li>';
   	} else if (currentPageNum == 2) {
   		paginationHtml+= '<li><a href="javascript:void(0)" href="'+currentLink+'">«</a></li>';
    } else {
        var prePage= currentPageNum-1;
        paginationHtml+= '<li><a href="'+currentLink+'?page='+prePage+'"><</a></li>';
    }
   											
   	var pmin=1;
   	if(currentPageNum>adjacents){
   		pmin=parseInt(currentPageNum) - parseInt(adjacents);
   	}
   											
    var pmax=tpages;
    if(currentPageNum < (tpages - adjacents)){
    	pmax = parseInt(currentPageNum) + parseInt(adjacents);
	}
    									
	for (var i=pmin; i <= pmax; i++) {
    	if (i == currentPageNum) {
        	paginationHtml+= '<li class="current"><a href="javascript:void(0)" >'+i+'</a></li>';
        } else if (i == 1) {
        	paginationHtml+= '<li><a href="'+currentLink+'" >'+i+'</a></li>';
        } else {
       		paginationHtml+= '<li><a href="'+currentLink+'?page='+i+'">'+i+'</a></li>';
    	}
   	}
   											
   	if (currentPageNum<(tpages - adjacents)) {
		paginationHtml+= '<li><a href="'+currentLink+'?page='+tpages+'" >'+tpages+'</a></li>';
    }
    
    // next
    if (currentPageNum < tpages) {
    	var nxtPage= parseInt(currentPageNum)+1;
    	paginationHtml+= '<li><a href="'+currentLink+'?page='+nxtPage+'">»</a></li>';
    } else {
    	paginationHtml+= '<li><a href="javascript:void(0)">»</a></li>';
    }
	//paginationHtml+='<span class="pages"> '+displayResultsNum+' of '+total_count+'</span>';
	paginationHtml+='</ul>';
	paginationHtml+='<div style="height:30px;"> </div>';
	return paginationHtml;
}

	
	function load_data(){
		$(".alert").remove();
		var jsonRow="/search-results?start="+start+"&s=&type="+typeStr+"&limit="+pageSize;
		
		xhrStatus=$.getJSON(jsonRow,function(html){
			if(html.error){
				$("#newsData").before('<div class="alert alert-danger">Sorry, no posts found!</div>');
			}else{
				
				if(html.total){
					totalNum=parseInt(html.total);
					if(totalNum>=1){
						var displayNum=0;
						if(html.total_display){
							displayNum=html.total_display;
						}
						var paginationStr=applyPagination(totalNum,displayNum);
						$("#newsData").after(paginationStr);
					}
				}
				if(html.total_display){
					
				}
				var contentHtml="";
				if(html.aaData && html.aaData.length>0) {
				$.each(html.aaData, function(i,row){
					if(row.Code!=""){
						var bodyStr=row.Body;
                      	bodyStr=bodyStr.replace(/<\/?[^>]+(>|$)/g, "");
                      	if(bodyStr.length>250){
                      	bodyStr=bodyStr.substr(0, 250)+"...";
                      	}
                      	contentHtml+='<div class="blog-item"><div class="row">';
                      	contentHtml+='<div class="col-lg-2 col-sm-2">';
                		contentHtml+='<div class="date-wrap">';
                  		contentHtml+='<span class="date">'+timeConverter(row.created, "date")+'</span>';
                  		contentHtml+='<span class="month">'+timeConverter(row.created, "month")+'</span>';
                  		
                  		if(row.BlogComments && row.BlogComments.length>0){
                  			var blogCommentsObj= row.BlogComments, activeBlogNum=0;
                  			$.each(blogCommentsObj, function(k,blogComments){
                  				if(blogComments.status==1 || blogComments.status=="1"){
                  					activeBlogNum++;
                  				}
                  			});
                  		contentHtml+='<div class="st-view text-right">';
                  		contentHtml+='<ul class="list-unstyled">';
                    	contentHtml+='<li><a href="/'+row.Code+'">'+activeBlogNum+' comment(s)</a></li>';
                  		contentHtml+='</ul></div>';
                  		}
                		contentHtml+='</div></div>';
                		if(row.image_path) {
              			contentHtml+='<div class="col-lg-10 col-sm-10">';
                		contentHtml+='<div class="blog-img">';
                  		contentHtml+='<img src="'+row.image_path+'" HEIGHT="300" alt=""/>';
                		contentHtml+='</div></div>';
                      	contentHtml+='</div><div class="row">';
                      	}
                      	contentHtml+='<div class="col-lg-10 col-sm-10">';
                		contentHtml+='<h1><a href="/'+row.Code+'"  title="'+row.Document+'">'+row.Document+'</a></h1>';
						contentHtml+=bodyStr;
                		contentHtml+='<br><br><a href="/'+row.Code+'" class="btn btn-info">Continue Reading</a>';
              			contentHtml+='</div>';
                      	contentHtml+='</div></div>';
                    }
				});
				}else{
					contentHtml+='<div class="alert alert-danger">Sorry, no posts found!</div>';
				}
				$("#newsData").html(contentHtml);
			}
			
			$('#img_loading_div').hide();
			
		});
	}

function load_posts(){
		var jsonRow="/search-results?start=1&limit=5";
		if(typeStr=="blog")	{
			jsonRow+="&type=news";
		} else {
			jsonRow+="&type=blog";
		}
		xhrStatus=$.getJSON(jsonRow,function(html){
			if(html.error){
				$(".print_posts").html('<div class="alert alert-danger">No latest posts found!</div>');
			}else{
				
				var contentHtml="";
				if(typeStr=="blog")	{
					contentHtml+="<h3>Latest News</h3>";
				}else{
					contentHtml+="<h3>Latest Blog Post</h3>";
				}
				if(html.aaData && html.aaData.length>0) {
				$.each(html.aaData, function(i,row){
					if(row.Code!=""){
						var defaultImg="images/no-image.png";
						if(row.virtualFields){
							defaultImg=row.virtualFields['image_path'];
						}
						contentHtml+='<div class="media">';
                		contentHtml+='<a class="pull-left" href="/'+row.Code+'" title="'+row.Document+'"><img style="height: 73px; float: left;" onerror="this.src=\'images/no-image.png\'" src="'+defaultImg+'"></a>';
                		contentHtml+='<div class="media-body">';
                  		contentHtml+='<h5 class="media-heading">';
                    	contentHtml+='<a href="/'+row.Code+'" title="'+row.Document+'">'+timeConverter(row.created)+'</a>';
                  		contentHtml+='</h5>';
                  		contentHtml+='<p><a href="/'+row.Code+'" title="'+row.Document+'" style="text-decoration:none;">'+row.Document+'</a></p>';
                		
                		contentHtml+='</div>';
              			contentHtml+='</div>';
					}
				});
				}else{
					contentHtml+='<div class="alert alert-danger">No latest posts found!</div>';
				}
				$(".print_posts").html(contentHtml);
			}
		});
	}
</script>
  </body>
</html>